# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build
dist/
build/
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.recommended.json
.idea/

# Prisma
prisma/*.db
prisma/*.db-journal

# Test
coverage/
.vitest-cache/

# Generated
src/__generated__/
